services:
  rpi:
    build:
      args:
        - arch=$ARCH
        - image=$IMAGE
        - kernel=$KERNEL
        - uboot=$UBOOT
      entitlements:
        - security.insecure
    environment:
      - RPI_CPU
      - RPI_PASSWORD
      - RPI_PORT
      - RPI_RAM
      - RPI_SSH
      - RPI_USER
    image: ${DOCKERHUB_REPOSITORY:-rpi}:latest

  bats:
    build:
      dockerfile_inline: |
        FROM bats/bats:latest
        RUN apk add --no-cache expect
    entrypoint: [bats]
    image: ${DOCKERHUB_REPOSITORY:-rpi}:test
    volumes:
      - .:/code
