name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    name: Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Linter
        uses: hadolint/hadolint-action@v3.1.0

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Run Unit Tests
        run: docker compose run --build --rm bats test
